<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dd.user.dao.SysMenuDao">

    <resultMap id="sysMenuResultMap" type="com.dd.base.model.user.Menu">
        <id column="menuId" property="menuId"/> 
        <result column="menuName" property="menuName"/> 
        <result column="menuSort" property="menuSort"/> 
        <result column="menuType" property="menuType"/> 
        <result column="permission" property="permission"/> 
        <result column="action" property="action"/> 
        <result column="path" property="path"/> 
        <result column="target" property="target"/> 
        <result column="status" property="status"/> 
        <result column="leave" property="leave"/>
    </resultMap>

    <sql id="sysMenuColumns">
        `sys_menu`.`menu_id` AS `menuId`,
        `sys_menu`.`menu_name` AS `menuName`,
        `sys_menu`.`menu_sort` AS `menuSort`,
        `sys_menu`.`menu_type` AS `menuType`,
        `sys_menu`.`permission` AS `permission`,
        `sys_menu`.`action` AS `action`,
        `sys_menu`.`path` AS `path`,
        `sys_menu`.`target` AS `target`,
        `sys_menu`.`status` AS `status`,
        `sys_menu`.`leave` AS `leave`
    </sql>

    <sql id="sysMenuJoins">
        
    </sql>
   <select id="findMenuListByRoleIds" resultMap="sysMenuResultMap">
       SELECT m.* FROM sys_role r
        INNER JOIN role_menu rm ON r.`role_id`=rm.`role_id`
        INNER JOIN sys_menu m ON m.`menu_id`=rm.`menu_id`
        WHERE r.`role_id` in 
        <foreach collection="list" item="roleId"  open="(" close=")"  index="index" separator=",">
            #{roleId}
        </foreach>
   </select>
    <select id="get" resultMap="sysMenuResultMap">
        SELECT
        <include refid="sysMenuColumns" />
        FROM `sys_menu` <include refid="sysMenuJoins" />
        <where>
        `sys_menu`.`menu_id` = #{id}
        </where>
    </select>


    <select id="findAllList" resultMap="sysMenuResultMap">
        SELECT
        <include refid="sysMenuColumns" />
        FROM `sys_menu` <include refid="sysMenuJoins" />
        <where>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO `sys_menu`(
            `menu_id`,
            `menu_name`,
            `menu_sort`,
            `menu_type`,
            `permission`,
            `action`,
            `path`,
            `target`,
            `status`,
            `leave`
        )
        VALUES (
            #{menuId},
            #{menuName},
            #{menuSort},
            #{menuType},
            #{permission},
            #{action},
            #{path},
            #{target},
            #{status},
            #{leave}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO `sys_menu`(
            `menu_id`,
            `menu_name`,
            `menu_sort`,
            `menu_type`,
            `permission`,
            `action`,
            `path`,
            `target`,
            `status`,
            `leave`
        )
        VALUES
        <foreach collection ="list" item="sysMenu" separator =",">
        (
            #{sysMenu.menuId},
            #{sysMenu.menuName},
            #{sysMenu.menuSort},
            #{sysMenu.menuType},
            #{sysMenu.permission},
            #{sysMenu.action},
            #{sysMenu.path},
            #{sysMenu.target},
            #{sysMenu.status},
            #{sysMenu.leave}
        )
        </foreach>
    </insert>

    <update id="update">
        UPDATE `sys_menu`
        <set>
                <if test= "menuName!=null and menuName !=''"> 
         `menu_name` = #{menuName},
        </if>
        <if test= "menuSort!=null and menuSort !=''"> 
         `menu_sort` = #{menuSort},
        </if>
        <if test= "menuType!=null and menuType !=''"> 
         `menu_type` = #{menuType},
        </if>
        <if test= "permission!=null and permission !=''"> 
         `permission` = #{permission},
        </if>
        <if test= "action!=null and action !=''"> 
         `action` = #{action},
        </if>
        <if test= "path!=null and path !=''"> 
         `path` = #{path},
        </if>
        <if test= "target!=null and target !=''"> 
         `target` = #{target},
        </if>
        <if test= "status!=null and status !=''"> 
         `status` = #{status},
        </if>
        <if test= "leave!=null and leave !=''"> 
         `leave` = #{leave}
        </if>
      </set>
        WHERE `menu_id` = #{menuId}
    </update>

    <delete id="delete">
        delete from `sys_menu`
        WHERE `menu_id` = #{menuId}
    </delete>

</mapper>